html {
  height: 100%;
}
html body {
  height: 100%;
}
@media (min-width: 768px) {
  #main-header {
    height: 100vh;
  }
  #main-header .navbar {
    max-width: 300px;
    margin: 0;
  }
  #main-header .navbar.navbar-inverse {
    height: 100vh !important;
  }
  #main-header .navbar.navbar-inverse .navbar-header {
    padding: 20px;
  }
  #main-header .navbar.navbar-inverse .navbar-nav,
  #main-header .navbar.navbar-inverse .navbar-nav > li,
  #main-header .navbar.navbar-inverse .navbar-left,
  #main-header .navbar.navbar-inverse .navbar-right,
  #main-header .navbar.navbar-inverse .navbar-header {
    float: none !important;
  }
  #main-header .navbar.navbar-inverse .collapse.navbar-collapse {
    border-top: 0;
    box-shadow: none;
    max-height: 100vh !important;
    padding-left: 0;
    padding-right: 0;
  }
}